<h1>User info</h1>
<p>name</p>
<p><%= @user.name %></p>
<p>introduction</p>
<p><%= @user.introduction %></p>
<%= link_to "記号（歯車）", edit_user_path(@user.id) %>

<h1>New book</h1>
<%= form_with model: @book, url: '/books', local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_field :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <%= book.user_id%>
    <%= book.title %>
    <%= book.body %>
  </di>
<% end %>