<%= render 'shared/user-info-and-new-book', user: @user, book: @book %>
<!--↑部分テンプレート呼び出し-->

<div>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpg' 'png', fallback: "no_image.jpg" %>
  <%= @book.title %>
  <%= @book.body %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", "/books/#{@book.id}", method: :delete, "data-confirm" => "本当に消しますか？" %>
</div>